<% @document_title = 'ログイン' %>

<div class="container mt-5">
    <div class="row justify-content-center">
    <div class="col-md-4">
        <div class="text-center mb-4">
            <i class="bi bi-book" style="font-size: 2rem;"></i> <!-- 本のアイコン -->
            <h1 class="h4 mt-2">新宿図書館</h1> <!-- 新宿図書館のテキスト -->
        </div>
        <div class="login-box">
            <h2 class="text-center mb-4">管理者ログイン</h2>
            <% if flash[:success] %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= flash[:success] %>
            </div>
            <% end %>

            <% if flash[:danger] %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= flash[:danger] %>
            </div>
            <% end %>
            <%= form_with url: login_path, class: 'form' do |f| %>
            <div class="mb-3">
                <%= f.label :email, 'E-mail', class: 'form-label' %>
                <%= f.email_field :email, class: 'form-control', placeholder: 'メールアドレス' %>
            </div>

            <div class="mb-3">
                <%= f.label :password, 'パスワード', class: 'form-label' %>
                <%= f.password_field :password, class: 'form-control', placeholder: 'パスワード' %>
            </div>

            <div class="d-grid">
                <%= f.submit 'ログイン', class: 'btn btn-secondary' %>
            </div>
            <% end %>
        </div>
    </div>
    </div>
</div>