<% @document_title = "新宿図書館" %>
<% if flash[:success] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:success] %>
    </div>
<% end %>

<div class="container mt-4">

    <!-- 受付業務: 貸出と返却 -->
    <div class="row mb-5">
        <h3 class="h3 mb-4">窓口業務</h3>
        <div class="col-md-6 mb-4">
            <div class="bg-light p-4 rounded text-center">
                <h4 class="h4 mb-3 text-primary">
                    <i class="bi bi-journal-bookmark"></i> 貸出 / 返却
                </h4>
                <p>新規貸出および返却を行います。</p>
                <% if flash[:danger] %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= flash[:danger] %>
                    </div>
                <% end %>
                <%= form_with url: new_counter_path, method: :get, local: true do |form| %>
                <div class="form-group mb-4 d-flex justify-content-center align-items-center">
                    <%= form.label :member_id, "会員ID：", class: "form-label mr-2" %>
                    <%= form.text_field :member_id, class: "form-control w-25" %>
                </div>
                <%= form.submit "登録する", name: nil, class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>

    <!-- 管理業務: 管理機能 -->
    <div class="mb-4">
        <h3 class="h3 mb-4">管理業務</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="<%= members_path %>" class="text-decoration-none text-dark">
                    <div class="p-4 rounded text-center bg-light" style="width: 100%; max-width: 100%;">
                        <h4 class="h6 mb-3">会員台帳管理</h4>
                        <i class="bi bi-person-lines-fill" style="font-size: 3rem;"></i>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="<%= catalogs_path %>" class="text-decoration-none text-dark">
                    <div class="p-4 rounded text-center bg-light" style="width: 100%; max-width: 100%;">
                        <h4 class="h6 mb-3">資料目録管理</h4>
                        <i class="bi bi-book-half" style="font-size: 3rem;"></i>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="<%= stocks_path %>" class="text-decoration-none text-dark">
                    <div class="p-4 rounded text-center bg-light" style="width: 100%; max-width: 100%;">
                        <h4 class="h6 mb-3">在庫台帳管理</h4>
                        <i class="bi bi-box" style="font-size: 3rem;"></i>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="<%= loans_path %>" class="text-decoration-none text-dark">
                    <div class="p-4 rounded text-center bg-light" style="width: 100%; max-width: 100%;">
                        <h4 class="h6 mb-3">貸出台帳管理</h4>
                        <i class="bi bi-journal-text" style="font-size: 3rem;"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
