<% @document_title = "在庫台帳" %>
<div class="container-fluid py-1">
    <div class="row"><!-- グリッド（行）-->
        <div class="col-3"><!-- グリッド（左列）-->
            <form class="card" action="" method="get">
                <div class="card-header">検索フォーム</div>
                <div class="card-body">
                    <%= form_with url: stocks_path, method: :get, local: true, class: "mb-3" do |f|%>
                        <div class="form-row">
                            <div class="form-group col-md-4 mb-3">
                                <%= f.label :search_id, '資料ID' %>
                                <%= f.text_field :search_id, value: params[:search_id], class: "form-control" %>
                            </div>
                            <div class="form-group col-md-7 mb-3">
                                <%= f.label :search_isbn, 'ISBN番号' %>
                                <%= f.text_field :search_isbn, value: params[:search_isbn], class: "form-control" %>
                            </div>
                            <div class="form-group col-md-10 mb-3">
                                <%= f.label :search_name, '資料名' %>
                                <%= f.text_field :search_title, value: params[:search_title], class: "form-control" %>
                            </div>
                            <div class="form-group col-md-4 mb-3">
                            <%= f.label :status, '状態', class: 'form-label' %>
                            <%= f.select :status, [['すべて', ''], ['貸出中', 'on_loan'], ['貸出可能', 'available'], ['廃棄済み', 'discarded']], {selected: params[:status]}, { class: 'form-select' } %>
                            </div>
                        </div>                         
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <div class="mb-2 mb-md-0">
                        <%= f.submit '検索する', name: nil, class: "btn btn-primary w-100 w-md-auto" %>
                    </div>
                    <div>
                        <%= link_to 'クリア', stocks_path, class: "btn btn-secondary w-100 w-md-auto" %>
                    </div>
                </div>
                <% end %>
            </form>
        </div>
        <div class="col-9"><!-- グリッド（右列）-->
            <div class="pb-2 border-bottom mb-3 d-flex justify-content-between align-items-start">
                <div class="d-flex align-items-center">
                    <h1 class="h3 mb-0">在庫一覧</h1>
                    <span class="ms-2">（<%= @stocks.total_count %>件表示）</span>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="nowrap">資料ID</th>
                            <th class="nowrap">ISBN番号</th>
                            <th class="text-truncate">資料名</th>
                            <th class="nowrap">入荷年月日</th>
                            <th class="nowrap">廃棄年月日</th>
                            <th class="nowrap">貸出状況</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <% @stocks.each do |s| %>
                        <tr style="cursor: pointer;" onclick="window.location='<%= stock_path(s) %>';">
                            <td class="nowrap"><%= s.id %></td>
                            <td class="nowrap"><%= s.catalog.isbn %></td>
                            <td class="text-truncate" style="max-width: 150px;"><%= s.catalog.title %></td>
                            <td class="nowrap"><%= s.arrival_date %></td>
                            <td class="nowrap"><%= s.disposal_date %></td>
                            <td class="nowrap">
                                <% if s.discarded? %>
                                -
                                <% elsif s.currently_on_loan? %>
                                貸出中
                                <% else %>
                                貸出可
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <%= paginate @stocks, window: 2, outer_window: 1, left: 1, right: 1, theme: 'bootstrap-5' %>
            </div>
        </div>
    </div>
</div>

