<% @document_title = "貸出台帳" %>
<div class="container-fluid py-3">
    <div class="row"><!-- グリッド（行）-->
        <div class="col-3"><!-- グリッド（左列）-->
            <form class="card" action="" method="get">
                <div class="card-header">検索フォーム</div>
                <div class="card-body">
                    <%= form_with url: loans_path, method: :get, local: true, class: "mb-3" do |f|%>
                        <div class="form-row">
                            <div class="form-group col-md-4 mb-3">
                                <%= f.label :search_member, '会員ID' %>
                                <%= f.text_field :search_member, value: params[:search_member], class: "form-control" %>
                            </div>
                            <div class="form-group col-md-4 mb-3">
                                <%= f.label :search_stock, '資料ID' %>
                                <%= f.text_field :search_stock, value: params[:search_stock], class: "form-control" %>
                            </div>
                            <div class="form-group col-md-7 mb-3">
                            <%= f.label :search_category, '分類' %>
                            <%= f.collection_select(:search_category, Category.all, :id, :code_with_name, { include_blank: "選択してください", selected: params[:search_category]}, { class: 'form-control' }) %>
                            </div>
                            <div class="form-group col-md-12 mb-3">
                            <%= f.label :date_range, '貸出年月日' %>
                            <div class="input-group">
                                <%= f.date_field :start_date, value: params[:start_date], class: "form-control", placeholder: '開始日' %>
                                <div class="input-group-text"> 〜 </div>
                                <%= f.date_field :end_date, value: params[:end_date], class: "form-control", placeholder: '終了日' %>
                            </div>
                            </div>
                            <div class="form-group col-md-10 mb-3">
                                <%= f.check_box :overdue, { checked: params[:overdue] == '1', class: 'form-check-input'}, '1', '0' %>
                                <%= f.label :overdue, '延滞', class: 'form-check-label' %>
                            </div>
                            <div class="form-group col-md-10 mb-3">
                                <%= f.check_box :on_loan, { checked: params[:on_loan] == '1', class: 'form-check-input'}, '1', '0' %>
                                <%= f.label :on_loan, '貸出中', class: 'form-check-label' %>
                            </div>
                        </div>                         
                </div>
                <div class="card-footer d-flex justify-content-around">
                        <%= f.submit '検索する', name: nil, class: "btn btn-primary btn-fullwidth btn-margin" %>
                        <%= link_to 'クリア', loans_path, class: "btn btn-secondary btn-fullwidth"%>
                </div>
                <% end %>
            </form>
        </div>
        <div class="col-9"><!-- グリッド（右列）-->
            <div class="pb-2 border-bottom mb-3 d-flex justify-content-between align-items-start">
                <div class="d-flex align-items-center">
                    <h1 class="h3 mb-0">貸出台帳一覧</h1>
                    <span class="ms-2">（<%= @loans.total_count %>件表示）</span>
                </div>
                <%= button_to '新規貸出', new_loan_path, method: :get, class: "btn btn-outline-primary"%>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>会員ID</th><th>会員名</th><th>資料ID</th><th>資料名</th><th>分類</th><th>貸出年月日</th><th>返却期日</th><th>超過日数</th><th>返却年月日</th><th>備考</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <% @loans.each do |l| %>
                        <tr style="cursor: pointer;" onclick="window.location='<%= loan_path(l) %>';">
                            <td><%= l.member_id %></td>
                            <td><%= l.member.name %></td>
                            <td><%= l.stock_id %></td>
                            <td><%= l.stock.catalog.title %></td>
                            <td><%= l.stock.catalog.category.code %>: <%= l.stock.catalog.category.name %></td>
                            <td><%= l.loan_date %></td>
                            <td><%= l.due_date %></td>
                            <td><%= l.overdue_days %></td>
                            <td><%= l.return_date %></td>
                            <td><%= l.remarks %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <%= paginate @loans, theme: 'bootstrap-5' %>
            </div>
        </div>
    </div>
</div>


