<% @document_title = "新規貸出登録" %>
<div class="pb-2 border-bottom mb-3 d-flex justify-content-between align-items-start">
    <h1 class="h3">新規貸出登録</h1>
</div>

<%= form_with model: @loan, url: confirm_loans_path, method: :get do |f|%>
    <%= f.hidden_field :member_id, value: @loan.member_id %>
    <%= f.hidden_field :due_date, value: @loan.due_date %>
<table class="table table-bordered border-dark">
    <tr>
        <th class="table-secondary" style="width: 20%">会員ID</th>
        <td><%= @loan.member_id %></td>
    </tr>
    <tr>
        <th class="table-secondary" style="width: 20%">会員名</th>
        <td><%= @loan.member.name %></td>
    </tr>
</table>
<p>資料IDと貸出年月日を入力してください</p>

<% if @loan.errors.any? %>
<ul class="text-danger">
    <% @loan.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>
<% end %>

<table class="table table-bordered border-dark">
    <% @loan_available.times do |i| %>
    <tr>
        <th class="table-secondary" style="width: 20%">
            <%= f.label "stock_ids_#{i}", '資料ID' %>
            <%= raw(i == 0 ? '<span style="color: red;">*</span>' : '') %>
        </th>
        <td>
        <%= text_field_tag "loan[stock_ids][]",(params[:loan][:stock_ids][i] rescue nil), size: 10 %>
        <% if @stock_errors.present? && @stock_errors[i].present? %>
        <div class="text-danger"><%= @stock_errors[i].join(", ") %></div>
        <% end %>
        </td>
    </tr>
    <% end %>
    <tr>
        <th class="table-secondary"><%= f.label :loan_date, '貸出年月日' %><span style="color: red;">*</span></th>
        <td><%= f.date_select :loan_date, size: 50, start_year: 2010, end_year: Time.now.year %></td>
    </tr>
</table>
<p><%= f.submit '確認画面へ', class: "btn btn-outline-primary"%></p>
<% end %>
<p><%= link_to 'キャンセル', loans_path %></p>
