<% @document_title = "会員情報編集" %>
<div class="pb-2 border-bottom mb-3 d-flex justify-content-between align-items-start">
    <h1 class="h3">会員情報編集</h1>
</div>
<%= form_with model: @member do |f|%>
<table class="table table-bordered border-dark">
    <tr>
        <th class="table-secondary"><%= f.label :id, 'ID' %></th>
        <td><%= @member.id %></td>
    </tr>
    <tr>
        <th class="table-secondary" style="width: 20%"><%= f.label :name, '氏名' %><span style="color: red;">*</span></th>
        <td><%= f.text_field :name %></td>
    </tr>
    <tr>
        <th class="table-secondary"><%= f.label :post_code, '郵便番号' %><span style="color: red;">*</span></th>
        <td>
            <div class="d-flex align-items-center">
            <%= f.text_field :post_code, value: @member.post_code.gsub(/〒|-/, '')%>
            <span class="ms-2 text-muted">※半角数字7桁で入力してください</span>
            </div>
        </td>
    </tr>
    <tr>
        <th class="table-secondary"><%= f.label :address, '住所' %><span style="color: red;">*</span></th>
        <td><%= f.text_field :address, size: 50 %></td>
    </tr>
    <tr>
        <th class="table-secondary"><%= f.label :tel, '電話番号' %><span style="color: red;">*</span></th>
        <td><%= f.text_field :tel %></td>
    </tr>
    <tr>
        <th class="table-secondary"><%= f.label :email, 'E-mail' %><span style="color: red;">*</span></th>
        <td><%= f.email_field :email, size: 50 %></td>
    </tr>
    <tr>
        <th class="table-secondary"><%= f.label :birth_date, '生年月日' %><span style="color: red;">*</span></th>
        <td><%= @member.birth_date %></td>
    </tr>
    <tr>
        <th class="table-secondary"><%= f.label :birth_date, '入会年月日' %><span style="color: red;">*</span></th>
        <td><%= @member.join_date %></td>
    </tr>
    <tr>
        <th class="table-secondary"><%= f.label :remove_date, '退会年月日' %></th>
        <td><%= f.date_select :remove_date, start_year: 1950, end_year: Time.now.year, include_blank: true %></td>
    </tr>
</table>
<p><%= f.submit '更新する', class: "btn btn-outline-primary"%></p>
<% end %>
<p><%= link_to 'キャンセル', member_path %></p>
