<% @document_title = "会員台帳" %>
<div class="container-fluid py-1">
    <div class="row"><!-- グリッド（行）-->
        <div class="col-3">
            <%= form_with url: members_path, method: :get, local: true, class: "mb-3 p-3 border border-secondary rounded" do |f| %>
            <h5 class="mb-3 d-flex align-items-center">
                <i class="bi bi-search me-2"></i>検索
            </h5>
        <div class="form-group col-md-4 mb-3">
            <%= f.label :search_id, 'ID', class: "form-label" %>
            <%= f.text_field :search_id, value: params[:search_id], class: "form-control" %>
        </div>
        <div class="form-group col-md-7 mb-3">
            <%= f.label :search_name, '氏名', class: "form-label" %>
            <%= f.text_field :search_name, value: params[:search_name], class: "form-control" %>
        </div>
        <div class="form-check mb-3">
            <%= f.check_box :removed_member, { checked: params[:removed_member] == '1', class: 'form-check-input'}, '1', '0' %>
            <%= f.label :removed_member, '退会済み', class: 'form-check-label' %>
        </div>
        <div class="d-flex justify-content-around">
            <div class="mb-2 mb-md-0">
                <%= f.submit '検索する', name: nil, class: "btn btn-primary w-100 w-md-auto" %>
            </div>
            <div>
                <%= link_to 'クリア', loans_path, class: "btn btn-secondary w-100 w-md-auto" %>
            </div>
        </div>
        <% end %>
    </div>
        <div class="col-9"><!-- グリッド（右列）-->
            <div class="pb-2 border-bottom mb-3 d-flex justify-content-between align-items-start">
                <div class="d-flex align-items-center">
                    <h1 class="h3 mb-0">会員台帳</h1>
                    <span class="ms-2">（<%= @members.total_count %>件表示）</span>
                </div>
                <%= button_to '新規登録', new_member_path, method: :get, class: "btn btn-outline-primary"%>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="nowrap">ID</th>
                            <th class="nowrap">氏名</th>
                            <th class="nowrap">郵便番号</th>
                            <th class="text-truncate">住所</th>
                            <th class="text-truncate">電話番号</th>
                            <th class="nowrap">E-mail</th>
                            <th class="nowrap">生年月日</th>
                            <th class="nowrap">入会年月日</th>
                            <th class="nowrap">退会年月日</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <% @members.each do |m| %>
                        <tr style="cursor: pointer;" onclick="window.location='<%= member_path(m) %>';">
                            <td class="nowrap"><%= m.id %></td>
                            <td class="nowrap"><%= m.name %></td>
                            <td class="nowrap"><%= m.post_code %></td>
                            <td class="text-truncate" style="max-width: 150px;"><%= m.address %></td>
                            <td class="nowrap"><%= m.tel %></td>
                            <td class="text-truncate" style="max-width: 150px;"><%= m.email %></td>
                            <td class="nowrap"><%= m.birth_date %></td>
                            <td class="nowrap"><%= m.join_date %></td>
                            <td class="nowrap"><%= m.remove_date %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <%= paginate @members, window: 2, outer_window: 1, left: 1, right: 1, theme: 'bootstrap-5' %>
            </div>
        </div>
    </div>
</div>