<% @document_title = "会員情報" %>
<div class="pb-2 border-bottom mb-3 d-flex justify-content-between align-items-start">
    <h1 class="h3">会員詳細画面</h1>
    <%= button_to '削除する', member_path(@member), method: :delete, onclick: "return confirm('本当に削除しますか？')" , class: "btn btn-sm btn-outline-danger"%>
</div>
<table class="table table-bordered border-dark">
    <tr>
        <th class="table-secondary" style="width: 20%">ID</th>
        <td><%= @member.id %></td>
    </tr>
    <tr>
        <th class="table-secondary">氏名</th>
        <td><%= @member.name %></td>
    </tr>
    <tr>
        <th class="table-secondary">郵便番号</th>
        <td><%= @member.post_code %></td>
    </tr>
    <tr>
        <th class="table-secondary">住所</th>
        <td><%= @member.address %></td>
    </tr>
    <tr>
        <th class="table-secondary">電話番号</th>
        <td><%= @member.tel %></td>
    </tr>
    <tr>
        <th class="table-secondary">E-mail</th>
        <td><%= @member.email %></td>
    </tr>
    <tr>
        <th class="table-secondary">生年月日</th>
        <td><%= @member.birth_date %></td>
    </tr>
    <tr>
        <th class="table-secondary">入会年月日</th>
        <td><%= @member.join_date %></td>
    </tr>
    <tr>
        <th class="table-secondary">退会年月日</th>
        <td><%= @member.remove_date %></td>
    </tr>
</table>
<p>
    <%= link_to '編集する', edit_member_path, method: :get, class: "btn btn-sm btn-outline-secondary"%>
    <span class="ms-2 text-secondary" style="font-size: 14px;">※未返却の資料がある場合は退会できません</span>
</p>
<p><%= link_to '一覧に戻る', members_path %></p>

<h4>未返却の資料（<%= @unreturned_count %>冊）</h4>
<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th>資料ID</th><th>資料名</th><th>貸出年月日</th><th>返却期日</th><th>返却年月日</th><th>超過日数</th><th>備考</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% @loans.each do |l| %>
        <tr style="cursor: pointer;" onclick="window.location='<%= loan_path(l) %>';">
            <td><%= l.id %></td>
            <td><%= l.stock.catalog.title %></td>
            <td><%= l.loan_date %></td>
            <td><%= l.due_date %></td>
            <td><%= l.return_date %></td>
            <td><%= l.overdue_days %></td>
            <td><%= l.remarks %></td>
        </tr>
        <% end %>
    </tbody>
</table>